<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en" xmlns:sec="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Add Vehicle | ALM Car Rental </title>
</head>

<body class="grey lighten-4">
<nav class="white z-depth-0" sec:authorize="isAnonymous()" th:replace="fragment/header_anonymous :: header"></nav>
<nav class="white z-depth-0" sec:authorize="isAuthenticated()" th:replace="fragment/header_auth :: header"></nav>
<div class="container">
    <h2 class="brand-text">Add Vehicle</h2>
    <hr/>
    <a th:href="@{/admin/vehicles}" class="btn btn-primary mb-2">Back to List of Vehicles</a>
    <form th:action="@{/admin/saveVehicle}" th:object="${vehicle}" method="POST">
        <label class="col-sm-2 col-form-label">ImageURL</label>
        <input type="text" class="form-control" th:field="*{imageURL}" ><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('imageURL')}" th:errors="*{imageURL}">error</div>
        <label class="col-sm-2 col-form-label">Model Name</label>
        <input type="text" class="form-control" th:field="*{modelName}" ><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}">error</div>
        <label class="col-sm-2 col-form-label">VIN</label>
        <input type="text" class="form-control" th:field="*{vin}" ><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('vin')}" th:errors="*{vin}">error</div>
        <label class="col-sm-2 col-form-label">Plate</label>
        <input type="text" class="form-control" th:field="*{plate}"><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('plate')}" th:errors="*{plate}">error</div>
        <label class="col-sm-2 col-form-label">Model Year</label>
        <input type="number" class="form-control" th:field="*{modelYear}"><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('modelYear')}" th:errors="*{modelYear}">error</div>
        <label class="col-sm-2 col-form-label">Mileage</label>
        <input type="number" class="form-control" th:field="*{mileage}" ><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}">error</div>

        <div class="mb-3">
            <label class="col-sm-2 col-form-label">Status</label><br>
            <p class="form-check form-check-inline">
                <label>
                    <input class="form-check-input"  th:field="*{status}" value ="AVAILABLE" name="group2" type="radio"  />
                    <span>AVAILABLE</span>
                </label>
            </p>
            <p class="form-check form-check-inline">
                <label>
                    <input class="form-check-input" th:field="*{status}" value = "RENTED" name="group2" type="radio"  />
                    <span>RENTED</span>
                </label>
            </p>

        </div>

        <label class="col-sm-2 col-form-label">Capacity</label>
        <input type="number" class="form-control" th:field="*{capacity}" ><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">error</div>
        <label class="col-sm-2 col-form-label">Cost per Day</label>
        <input type="number" class="form-control" th:field="*{costPerDay}" ><br>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('costPerDay')}" th:errors="*{costPerDay}">error</div>

        <div class="mb-3">
            <label class="col-sm-2 col-form-label">Category</label><br>
            <p class="form-check form-check-inline">
                <label>
                    <input class="form-check-input" th:field="*{category}" value = "ECONOMY" name="group1" type="radio" checked />
                    <span>ECONOMY</span>
                </label>
            </p>
            <p class="form-check form-check-inline">
                <label>
                    <input class="form-check-input" th:field="*{category}" value = "LUXURY" name="group1" type="radio" />
                    <span>LUXURY</span>
                </label>
            </p>
            <p class="form-check form-check-inline">
                <label>
                    <input class="form-check-input" th:field="*{category}" value = "TRUCK" name="group1" type="radio"  />
                    <span>TRUCK</span>
                </label>
            </p>
            <p class="form-check form-check-inline">
                <label>
                    <input class="form-check-input" th:field="*{category}" value = "VAN" name="group1" type="radio"  />
                    <span>VAN</span>
                </label>
            </p>

        </div>
        <input class="btn btn-primary mb-2" type="submit" name="submit" value="Save">
        <input type="hidden" th:field="*{id}" />
    </form>

</div>
</body>

</html>