<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Rent a Vehicle | ALM Car Rental</title>
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="date.js"></script>
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
</head>
<body>
<nav class="text-center" th:insert="fragment/header :: header"></nav>
<div class="container">
  <h2>Choose your dates</h2>
  <a th:href="@{/}" class="btn btn-primary mb-2">Back to Main Page</a>
  <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
  <h4 class="alert alert-danger" th:if="${loginError}" >Invalid username or password</h4>

  <hr/>
  <form th:action="@{/saveDateTime}" method="GET">
<!--    <label>Pick up Date</label>-->
<!--    <input type="date" name="pickup_date"><br>-->
<!--    <label>Pick up Time</label>-->
<!--    <input type="time" name="pickup_time"><br>-->
<!--    <label>Drop Date</label>-->
<!--    <input type="date"  name="drop_date"><br>-->
<!--    <label>Drop Time</label>-->
<!--    <input type="time" name="drop_time"><br>-->

    <table class="table table-bordered" id="date-time-table">
      <thead class="text-center">
      <tr>
        <th>Pickup Date</th>
        <th>Pickup Time</th>
        <th>Drop Date</th>
        <th>Drop Time</th>
      </tr>
      </thead>
      <tbody class="text-center">
      <td><input type="date" name="pickup_date"></td>
<!--      <div class="red-text" th:if="${#fields.hasErrors('pickup_date')}" th:errors="*{pickup_date}">error</div>-->
      <td><input type="time"  name="pickup_time"></td>
<!--      <div class="red-text" th:if="${#fields.hasErrors('pickup_time')}" th:errors="*{pickup_time}">error</div>-->
      <td><input type="date"  name="drop_date"></td>
<!--      <div class="red-text" th:if="${#fields.hasErrors('drop_date')}" th:errors="*{drop_date}">error</div>-->
      <td><input type="time" name="drop_time"></td>
<!--      <div class="red-text" th:if="${#fields.hasErrors('drop_time')}" th:errors="*{drop_time}">error</div>-->
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" type="submit"  >Choose Vehicle</button>
  </form>
  </hr>
  <a th:href="@{/}">Cancel the Operation</a>
</div>
</body>
</html>