<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="white z-depth-0" sec:authorize="isAnonymous()" th:replace="fragment/header_anonymous :: header"></nav>
<nav class="white z-depth-0" sec:authorize="isAuthenticated()" th:replace="fragment/header_auth :: header"></nav>
<div class="container">
    <h2>Perform your Payment</h2>
    <hr/>
<form action='/charge' method='POST' id='checkout-form'>

    <input type='hidden' th:value='${amount}' name='amount' />
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="text-center">
        <h4>
        <label>Total Price : <span th:text='${amount/100}' /> CAD</label>
        </h4>
    </div>
    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
    <div class="text-center">
    <script
            src='https://checkout.stripe.com/checkout.js'
            class='stripe-button'
            th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
            data-name='ALM Car Rental'
            data-description='Your place of trust'
            data-image
                    ='https://projectalmbucket.s3.amazonaws.com/logo/alm1.png'
            data-locale='auto'
            data-zip-code='false'>
    </script>
    </div>
</form>
</div>
</body>
</html>