<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vehicles</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="text-center" th:insert="fragment/header :: header"></nav>
<div class="container">
    <h2>List of Vehicles</h2>
    <a th:href="@{/}" class="btn btn-primary mb-2">Back to Main Page</a>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <hr/>
    <form th:action="@{/setVehicle}" method="GET">
    <table class="table table-bordered" id="date-time-table">
        <thead class="text-center">
        <tr>
            <th>Pickup Date</th>
            <th>Pickup Time</th>
            <th>Drop Date</th>
            <th>Drop Time</th>
        </tr>
        </thead>
        <tbody class="text-center">
            <td><input type="date" name="pickup_date" th:value="${pickup_date}" th:readonly="true"></td>
            <td><input type="time" name="pickup_time" th:value="${pickup_time}" th:readonly="true"></td>
            <td><input type="date" name="drop_date" th:value="${drop_date}" th:readonly="true"></td>
            <td><input type="time" name="drop_time" th:value="${drop_time}" th:readonly="true"></td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped" id="client-vehicle-table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Model</th>
            <th>Year</th>
            <th>km/L</th>
            <th>Capacity</th>
            <th>Cost per Day</th>
            <th>Status</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="vehicle: ${vehicle}">
            <td>
            <img th:src="${vehicle.imageURL}" style="width:auto; display: block; margin:auto;">
            </td>
            <td th:text="${vehicle.modelName}"></td>
            <td th:text="${vehicle.modelYear}"></td>
            <td th:text="${vehicle.mileage}"></td>
            <td th:text="${vehicle.capacity}"></td>
            <td th:text="${vehicle.costPerDay}"></td>
            <td th:text="${vehicle.status}"></td>
            <td th:text="${vehicle.category}"></td>
            <td>
                <button class="btn btn-primary" type="submit" name="vehicleId" th:value="${vehicle.id}">Select</button>
            </td>
        </tr>
        </tbody>

    </table>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
<script>
        $(document).ready(function() {
            $("#client-vehicle-table").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [0,8],
                    }]
            });
        })
    </script>
</body>
</html>