<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Booking Confirmed</h2>
    <a th:href="@{/}" class="btn btn-primary mb-2">Back to Main Page</a>
    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <hr/>
    <h2>Here is your confirmation number <span th:text="${rentId}"></span></h2>
    <form action="/makepayment" method="get" >
        <h4> Pickup Date: <span th:text="${rent.pickup_date}"></span></h4>
        <h4> Pickup Time: <span th:text="${rent.pickup_time}"></span></h4>
        <h4> Drop Date: <span th:text="${rent.drop_date}"></span></h4>
        <h4> Drop Time: <span  th:text="${rent.drop_time}"> </span></h4>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Model</th>
                <th>Year</th>
                <th>Mileage</th>
                <th>Capacity</th>
                <th>Cost per Day</th>
                <th>Status</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="vehicle: ${vehicle}">
                <td th:text="${vehicle.modelName}"></td>
                <td th:text="${vehicle.modelYear}"></td>
                <td th:text="${vehicle.mileage}"></td>
                <td th:text="${vehicle.capacity}"></td>
                <td th:text="${vehicle.costPerDay}"></td>
                <td th:text="${vehicle.status}"></td>
                <td th:text="${vehicle.category}"></td>
            </tr>
            </tbody>

        </table>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Cost per Day</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="insurance: ${insurance}">
                <td th:text="${insurance.name}"></td>
                <td th:text="${insurance.type}"></td>
                <td th:text="${insurance.costPerDay}"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped" id="billing-table">
            <thead>
            <tr>
                <th>Bill ID</th>
                <th>Amount</th>
                <th>Bill Date</th>
                <th>Is Paid</th>
                <th>Late Fee</th>
                <th>Due Date</th>
                <th>User</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bill: ${bill}">
                <td th:text="${bill.id}"></td>
                <td th:text="${bill.amount}"></td>
                <td th:text="${bill.bill_date}"></td>
                <td th:text="${bill.isPaid}"></td>
                <td th:text="${bill.late_fee}"></td>
                <td th:text="${bill.due_date}"></td>
                <td th:text="${bill.rent.user.username}"></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" name="billId" th:value="${bill.id}" type="submit">Make a Payment</button>
    </form>
</div>

</body>
</html>