<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <title>List of Vehicles</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="white z-depth-0" sec:authorize="isAnonymous()" th:replace="fragment/header_anonymous :: header"></nav>
<nav class="white z-depth-0" sec:authorize="isAuthenticated()" th:replace="fragment/header_auth :: header"></nav>
<div class="container">
    <h2>List of Bills</h2>
    <hr/>
    <table class="table table-bordered table-striped" id="billing-table">
        <thead>
        <tr>
            <th>User</th>
            <th>Bill ID</th>
            <th>Amount</th>
            <th>Bill Date</th>
            <th>Is Paid</th>
            <th>Late Fee</th>
            <th>Due Date</th>
            <th>Pick Up Date</th>
            <th>Return Date</th>
            <th>Vehicle</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bill: ${list_bills}">
            <td th:text="${bill.rent.user.username}"></td>
            <td th:text="${bill.id}"></td>
            <td th:text="${bill.amount}"></td>
            <td th:text="${#dates.format(bill.bill_date, 'MMM dd, yyyy ')}"></td>
            <td th:text="${bill.isPaid}"></td>
            <td th:text="${bill.late_fee}"></td>
            <td th:text="${#dates.format(bill.due_date, 'MMM dd, yyyy ')}"></td>
            <td th:text="${#dates.format(bill.rent.pickup_date, 'MMM dd, yyyy ')}"></td>
            <td th:text="${#dates.format(bill.rent.drop_date, 'MMM dd, yyyy ')}"></td>
            <td th:text="${bill.rent.vehicle.modelName}"></td>
            <td>
                <a th:href="@{/checkout(billId=${bill.id})}" class="btn btn-info">Check Out</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
<script>
        $(document).ready(function() {
            $("#billing-table").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1]
                    }]
            });
        })
    </script>
</body>
</html>